@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.tf {
	margin:37px;
	position:absolute;
	top:-113px;
	color:#fff;
	font-size: 200%;
	font-family: 'Comfortaa', cursive;
    
}
.tff {
	margin:20px;
	color:#fff;
	font-size: 100%;
	font-family: 'Comfortaa', cursive;
}
.fin {
	position: absolute;
	right: 600px;
	width:224px;
	height:224px;
	top:400px;
	border: 3px #101010 solid;
	z-index: 6;
	display: none;
}
.ffin {
	position: absolute;
	margin:67px;
	width:87px;
	height:53px;	
	border: 3px black solid;
	background-color: #202020;
	z-index: 6;
	display: none;
}
.resh {
	position: absolute;
	right: 600px;
	width:224px;
	height:224px;
	top:400px;
	border: 3px black solid;
	background-color: #404040;
}
.kv1 {
	position: absolute;
	right:762px ;
	top:403px;
    width: 64px;
    height: 64px;
    z-index: 1;
}
.kv2{
	position: absolute;
	right:682px ;
	top:403px;
    width: 64px;
    height: 64px;
    z-index: 1;
}
.kv3{
	position: absolute;
	right:602px ;
	top:403px;
    width: 64px;
    height: 64px;
    z-index: 1;
}
.kv4 {
	position: absolute;
	right:762px ;
	top:482px;
    width: 64px;
    height: 64px;
    z-index: 1;
}
.kv5{
	position: absolute;
	right:682px ;
	top:482px;
    width: 64px;
    height: 64px;
    z-index: 1;
}
.kv6{
	position: absolute;
	right:602px ;
	top:482px;
    width: 64px;
    height: 64px;
    z-index: 1;
}
.kv7 {
	position: absolute;
	right:762px ;
	top:563px;
    width: 64px;
    height: 64px;
    z-index: 1;
}
.kv8{
	position: absolute;
	right:682px ;
	top:563px;
    width: 64px;
    height: 64px;
    z-index: 1;
}
.kv9{
	position: absolute;
	right:602px ;
	top:563px;
    width: 64px;
    height: 64px;
    z-index: 1;
}
.ik1, .ik2, .ik3, .ik4, .ik5, .ik6, .ik7, .ik8, .ik9 {
	position: absolute;
	display: none;
}
.in1, .in2, .in3, .in4, .in5, .in6, .in7, .in8, .in9{
	position: absolute;
	display: none;
}
.i1{
	position: absolute;
	z-index: 1;
}