@import url('https://fonts.googleapis.com/css?family=Suez+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Anton');

.res {
	background-color: #2a2a2a95;
	position: absolute;
	width: 500px;
	height: 500px;
	top: 15%;
	right: 627px;
	border:  5px black solid;
	border-radius: 15px;
	z-index: 5;
	display:none;
	cursor: default;
}
.ball {
	background-color: #555555;
	position: absolute;
	width: 50px;
	height: 50px;
	top:50%;
	left:50%;
	border-radius: 50px;
	border:  2px black solid;
	z-index: 2;
	display: none;
	cursor:crosshair;
}
.ball1 {
	background-color: #555555;
	position: absolute;
	width: 50px;
	height: 50px;
	top:50%;
	left:50%;
	border-radius: 50px;
	border:  2px black solid;
	z-index: 3;
	display: none;
	cursor: pointer;
}
.polee {
	position: absolute;
	width: 500px;
	height: 500px;
	top: 15%;
	right: 627px;
	border:  5px black solid;
	border-radius: 15px;
	cursor:crosshair;
}
.pole {
	background-color: #2a2a2e;
	position: absolute;
	width: 500px;
	height: 500px;
	top: 15%;
	right: 627px;
	border:  5px black solid;
	border-radius: 15px;
	cursor:crosshair;
}
.start {
	background-color: #2a2a2e;
	position: absolute;
	width: 100px;
	height: 50px;
	top: 7%;
	right: 1020px;
	border:  5px black solid;
	border-radius: 15px;
	cursor: pointer;
}
.tstart {
	margin:20px;
	font-size: 200%;
	font-family:Anton;
	cursor: pointer;
}
.time {
	background-color: #2a2a2e;
	position: absolute;
	width: 100px;
	height: 50px;
	top: 7%;
	right: 900px;
	border:  5px black solid;
	border-radius: 15px;
	cursor: default;
}
.ttime {
	margin:20px;
	font-size: 200%;
	font-family:Anton; 
	cursor: default; 
}
.timer {
	background-color: #2a2a2e;
	position: absolute;
	width: 100px;
	height: 50px;
	top: 7%;
	right: 780px;
	border:  5px black solid;
	border-radius: 15px;
	cursor: default;
}
.ttimer {
	margin:20px;
	font-size: 200%;
	font-family:Anton; 
	cursor: default; 
}
@media screen and (max-width: 1138px) {
	.timer {
		left: 250px;
	}
	.start {
		left: 10px;
	}
	.time {
		left: 130px;
	}
	.polee {
	    left:0px;
    }
    .pole {
    	left:0px;
    }
    .res {
    	left:0px;
    }
}